* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--white);
    user-select: none;
}

:root {
    --primary: rgb(48, 184, 104);
    --white: #fff;
    --dark: #000;

    --nav-size: 70px;
    --gap: 1rem;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 6px;
    padding: 1rem var(--gap);
    user-select: none;
    transition: 0.2s;
}

.btn:hover {
    box-shadow: 0px 8px 20px rgba(48, 184, 104, 0.5);
    transform: translateY(-2px);
}

.container {
    width: 1360px;
    max-width: 1600px;
    margin: 0 auto;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--nav-size);
}

.menu {
    display: flex;
    gap: var(--gap);
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: var(--dark);
}

.menu li a:hover {
    color: var(--primary);
}

/* Banner Section */

#banner-section {
    background: url(../assets/images/hero-bg.png) no-repeat center/cover;
    height: calc(100vh - var(--nav-size));
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--gap);
    height: 100%;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    background-color: var(--white);
    border-radius: 25px;
    padding: calc(var(--gap) / 2) var(--gap);
    color: var(--primary);
    font-weight: 500;
}

.badge span {
    display: block;
    width: 6px;
    aspect-ratio: 1;
    background-color: var(--primary);
    border-radius: 50%;
    position: relative;
}

.badge span:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% * 2);
    aspect-ratio: 1;
    background-color: var(--primary);
    border-radius: 50%;
    opacity: 0.5;
    content: '';
}

.badge span:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% * 3);
    aspect-ratio: 1;
    background-color: var(--primary);
    border-radius: 50%;
    opacity: 0.33;
    content: '';
}

.banner-heading {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 72px;
}

.banner-heading span {
    color: var(--primary);
}

.banner-discriptions {
    font-size: 18px;
    line-height: 40px;
    color: var(--white);
    opacity: 0.9;
}

.banner-btns  {
    display: flex;
    gap: var(--gap);
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid var(--white);
}

.banner-btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--gap) / 2);
}
.banner-btns a img {
    width: 16px;
    aspect-ratio: 1;
}