* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #30B868;
    --white: #fff;
    --dark: #000;
    --gap: 16px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    overflow-x: hidden;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: unset;
    cursor: pointer;
    font-weight: 600;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 6px;
    padding: 16px 12px;
}

.container {
    width: 1600px;
    max-width: 1360px;
    margin: 0 auto;
}

#top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-content .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.nav-content .menu li a {
    text-decoration: none;
    padding: 0 16px;
    font-weight: 500;
    line-height: 152%;
    color: var(--dark);
}

.get-early-btn .btn {
    width: 164px;
    height: 44px;
}

/* Bnner section */
#banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../assets/images/hero-bg.png) no-repeat fixed;
    background-size: cover;
    height: 676px;
}

.early-acces-now-open {
    width: 230px;
    background-color: var(--white);
    border-radius: 25px;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.early-acces-now-open span {
    display: block;
    width: 6px;
    height: 6px;
    background-color: var(--primary);
    border-radius: 50%;
    position: relative;
}

.early-acces-now-open span::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--primary);
    opacity: 0.6;
    border-radius: 50%;
}

.early-acces-now-open span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 18px;
    height: 18px;
    background-color: var(--primary);
    opacity: 0.3;
    border-radius: 50%;
}

.early-acces-now-open p {
    color: var(--primary);
    font-weight: 500;
}

.banner-heading .color-white {
    color: var(--white);
}

.banner-heading .color-green {
    color: var(--primary);
}

.banner-discriptions {
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    opacity: 0.6;
}

.banner-btns {
    display: flex;
    gap: var(--gap);
}