* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #30B868;
    --white: #fff;
    --dark: #000;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

button {
    border: none;
    background-color: unset;
    cursor: pointer;
}

.container {
    width: 1600px;
    max-width: 1360px;
    margin: 0 auto;
}

#top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-content .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.nav-content .menu li a {
    text-decoration: none;
    padding: 0 16px;
    font-weight: 500;
    line-height: 152%;
    color: var(--dark);
}

.get-early-btn button {
    width: 164px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    font-weight: 600;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 6px;
}